@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iranian Sans";
  src: url("../public/fonts/IranianSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Iranian Sans";
  text-align: right;
}
